$color-primary: #0070f3;
$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;

$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;
$purple-950: #3b0764;

:root {
  background-color: white;
  color: $slate-950;
}

[data-theme="dark"] {
  background-color: #dcdcdc;
  color: $slate-100;
}

.toggle-button {
  border-radius: 999px;
  background-color: #202020;
  [data-theme="dark"] & {
    background-color: white;
  }
  padding: 0.75rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  cursor: pointer;

  &:hover {
    background-color: #525252;
    [data-theme="dark"] & {
      background-color: #979494;
    }
  }

  .icon {
    height: 1.75rem;
    width: 1.75rem;
    color: white;
    [data-theme="dark"] & {
      color: #202020;
    }
  }
}

.card {
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1.5rem 0;

  &.light {
    background-color: $purple-600;
    color: $slate-200;
  }

  &.dark {
    background-color: $slate-200;
    color: $slate-950;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.swiper {
  width: 120%;
  height: 100%;
}

.swiper-slide {
  background-color: #eeedde;
  [data-theme="dark"] & {
    background-color: #eeedde;
  }
  border-radius: 10px;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 0;
  width: rem;
  top: 80%;
  background-image: url(../public/assets/Arrow.svg);
  background-position: right;
  background-size: cover;
  margin-right: 1rem;
  &:after {
    display: none;
  }
  @media (max-width: 64em) {
    width: 3rem;
  }
  @media (max-width: 30em) {
    width: 2rem;
  }
}

.swiper-button-prev {
  left: 0;
  width: 4rem;
  top: 60%;

  transform: rotate(180deg);
  background-image: url(../public/assets/Arrow.svg);
  background-position: right;
  background-size: cover;

  &:after {
    display: none;
  }
  @media (max-width: 64em) {
    width: 3rem;
  }
  @media (max-width: 30em) {
    width: 2rem;
  }
}

.swiper-pagination {
  color: #0070f3;
}

.swiper-pagination-fraction {
  color: #0070f3;
}

.swiper-pagination-horizontal {
  color: #0070f3;
}
