.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000000;
  [data-theme="dark"] & {
    background-color: #dcdcdc;
  }
}

.container {
  width: 75%;
  min-height: 80vh;
  margin: 0 auto;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 70em) {
    width: 85%;
  }

  @media (max-width: 64em) {
    width: 100%;
    flex-direction: column;
    & > *:last-child {
      width: 80%;
    }
  }
  @media (max-width: 40em) {
    & > *:last-child {
      width: 90%;
    }
  }
}

.box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 64em) {
    padding: 3%;
  }
}

.title {
  font-size: 3em;
  //text-transform: capitalize;
  color: #fff;
  [data-theme="dark"] & {
    color: #202020;
  }
  align-self: flex-start;
  width: 80%;
  margin: 0 auto;
  @media (max-width: 64em) {
    width: 100%;
    text-align: center;
  }
  @media (max-width: 40em) {
    font-size: 2em;
  }
  @media (max-width: 30em) {
    font-size: 1.25em;
  }
}

.subText {
  font-size: 1.25em;
  color: #fff;
  [data-theme="dark"] & {
    color: #202020;
  }
  align-self: flex-start;
  width: 80%;
  margin: 1rem auto;
  font-weight: 400;
  @media (max-width: 64em) {
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
  @media (max-width: 40em) {
    font-size: 1em;
  }
  @media (max-width: 30em) {
    font-size: 0.875em;
  }
}

.subTextLight {
  font-size: 1em;
  color: rgba(#eeedde, 0.6);
  [data-theme="dark"] & {
    color: rgba(#202020, 0.6);
  }
  align-self: flex-start;
  width: 80%;
  margin: 1rem auto;
  font-weight: 400;
  @media (max-width: 64em) {
    width: 100%;
    text-align: center;
    font-size: 0.875em;
  }
  @media (max-width: 40em) {
    font-size: 0.875em;
  }
  @media (max-width: 30em) {
    font-size: 0.75em;
  }
}

.buttonContainer {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  align-self: flex-start;

  @media (max-width: 64em) {
    width: 100%;
    button {
      margin: 0 auto;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
